* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: var(--light-grayish-cyan);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  text-align: right;
}

.container {
  margin: 0 auto;
  background-color: var(--white);
  max-width: 900px;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 23.438rem;
  }
}

.header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  .header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.header p {
  text-transform: uppercase;
  color: var(--dark-grayish-cyan);
  letter-spacing: 6px;
}

.input-title {
  color: var(--dark-grayish-cyan);
  font-size: 1rem;
  margin-bottom: 6px;
}

input,
button {
  font-size: 24px;
  border-radius: 5px;
}

input {
  border: none;
  outline: solid 2px var(--strong-cyan);
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: solid 2px var(--strong-cyan);
  cursor: pointer;
}

.bill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .bill {
    gap: 2rem;
  }
}

.btns {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 115px));
  gap: 14px;
}

@media (max-width: 768px) {
  .btns {
    grid-template-columns: repeat(2, minmax(min-content, 150px));
  }
}

.input-100 {
  width: 100%;
  padding: 8px 16px;
}

#custom-tip {
  color: var(--dark-grayish-cyan);
  border-radius: 5px;
  /* max-width: 7rem; */
  max-width: 8rem;
  padding: 8px 16px;
  text-align: right;
}

@media (max-width: 768px) {
  #custom-tip {
    max-width: 150px;
    padding: 4px;
    text-align: center;
  }
}

#default-btn {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-btn {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 5px 10px;
}

.tip-btn:hover {
  background: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.bill-input.price input {
  background-image: url("/images/icon-dollar.svg");
  background-position: 16px;
  background-repeat: no-repeat;
}

.bill-input.people input {
  background-image: url("/images/icon-person.svg");
  background-position: 16px;
  background-repeat: no-repeat;
}

.div-alert {
  display: flex;
  justify-content: space-between;
}

#alert-bill {
  color: red;
  display: none;
}

.tip-container {
  background-color: var(--very-dark-cyan);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.tip-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tip-col:nth-of-type(1) {
  margin-bottom: 2.5rem;
}

.tip-col p {
  color: var(--white);
}

.tip-col p span {
  display: block;
  color: var(--grayish-cyan);
}

#tip-amount,
#total-amount {
  font-size: 3rem;
  color: var(--strong-cyan);
}

@media (max-width: 768px) {
  #tip-amount,
  #total-amount {
    font-size: 2rem;
  }
}

#reset-btn {
  background-color: var(--strong-cyan);
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  font-size: 1.25rem;
  width: 100%;
  margin-top: 7.625rem;
  padding: 10px 0;
}

#reset-btn:hover {
  background-color: var(--light-grayish-cyan);
}
